<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="loader" class="data.CSVLoaderImpl"/>

    <bean id="questionDao" class="dao.QuestionDaoImpl">
        <constructor-arg name="loader" ref="loader"/>
        <constructor-arg name="fileName" value="/questions.csv"/>
    </bean>

    <bean id="gameDao" class="dao.GameDaoImpl"/>

    <bean id="gameService" class="service.GameServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="gameDao" ref="gameDao"/>
    </bean>

    <bean id="console" class="view.Console"/>

</beans>